* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px 5px 5px;
    background-color: gray;
}

nav img {
    width: 150px;

}

nav ul li {
    display: inline-block;
    padding: 2px 15px;
    font-weight: bold;
    list-style-type: none;
    position: relative;
}

nav ul li a {
    color: orange;
    font-size: 18px;
}

body {
    font-size: 16px;
    line-height: 2.0;
    background-color: whitesmoke;
}

.about {
    margin: 45px;
}

.work {
    margin: 45px;
}

.flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px auto;
}


.card {
    flex-basis: content;
    background: lightgrey;
    text-align: center;
    font-size: 12px;
    min-height: 100%;
    padding: 10px;
    border: rgb(0, 0, 0) 5px solid;
    margin: 10px;
    box-sizing: border-box;
    flex: 1 0 40%;
}

.card img {
    width: 100%;

}

.card:hover {
    box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
}

.card:hover,
.card:hover .card-header {
    box-shadow: inset 0px 0px 8px rgb(184, 100, 4), 0 0 50px rgb(224, 91, 8);
}

.first {
    flex: 1 0 80%;
}

footer {
    width: 100%;
    text-align: center;
    margin: 50px;
}

footer h1 {
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: left;
}

#contact-me {
    display: flex;
    max-width: 100%;
    justify-content: space-evenly;

}

@media screen and (max-width: 992px) {
    body {
        background: rgb(252, 216, 222);
    }

}

@media screen and (max-width: 768px) {
    body {
        background-color: #e1caf2;
    }

    .card {
        flex: 1 0 100%;
    }
}